  
 
.borde-h1{
	width:5px;
	float:left;
	height:30px;
	margin-right:5px
}

#contenidoCuerpo{
	margin:10px
}
/*Final estilos del cuerpo*/

/*Inicio estilos del menu principal*/
#menuprincipal{
	background:url(../img/fondo.jpg) repeat;
	position:absolute;
	width: 100%;
	height: 100%;
}

#wrapperMenu {
	 
}

.borde-menu{
	width:5px;
	float:left;
	left:0px;
	height:100%;
	margin-right:10px
}

.color1{
	background:#2ed877;
}

.color2{
	background:#3398dc;
}

.color3{
	background:#f4c601;
}

.color4{
	background:#fa5039;
}

.color5{
	background:#f9870b;
}

.color6{
	background:#00c8a4;
} 
  